<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.adobe.flexbuilder.debug.launchConfigurationType.flash">
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_APPLICATION" value="src/Polygon3D.as"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_PROJECT" value="Charts"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_RUN_URL" value="D:\mywork\Charts\bin-debug\demo.html"/>
<booleanAttribute key="com.adobe.flexbuilder.debug.ATTR_USE_DEFAULT_URLS" value="false"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Charts"/>
<listEntry value="/Charts/src/Polygon3D.as"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
<listEntry value="1"/>
</listAttribute>
</launchConfiguration>
